<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Información Jericó</title>
        <link rel="stylesheet" href="estilo.css">     
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">   
    </head>
    <body>
        <div class="card">
            <div class="head">
                <div class="circle"></div>
                <div class="img">
                    <img src="DJHM.jpg" alt="">
                </div>
            </div>
            <div class="description">
                <h4>Daniel Jericó Hernández Mireles</h4>
                <hr>
                <p>N° cuenta: 315111778</p>
                <p><str>Correo:</str> jericohernandez78@aragon.unam.mx</p>
                <p><str>Semestre:</str> 8vo</p>
                <p><st>Hobbie:</str> Ver peliculas de terror/acción, jugar videojuegos, nadar, además de pasar tiempo con mi familia y amigos</p>
                <p><str>Facebook:</str> Jerico Hmz</p>
            </div>
            <div class="contact">
                <a href=""></a>
            </div>
        </div>
    </body>    
</html>