<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Presentación Hassel</title>
        <link rel="stylesheet" href="styles.css">     
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">   
    </head>
    <body>
        <div class="card">
            <div class="head">
                <div class="circle"></div>
                <div class="img">
                    <img src="https://scontent.fmex10-2.fna.fbcdn.net/v/t1.6435-9/200044746_4411916195526921_1113637776769080350_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=174925&_nc_ohc=z2Av0P27D0IAX9oKxNM&_nc_ht=scontent.fmex10-2.fna&oh=00_AT9p-GLrskNt-0jg14PwwvmPAzW3IkWrplCGRjkkaQQ58Q&oe=6260B51F" 
                    alt="">
                </div>
            </div>
            <div class="description">
                <h4>Jiménez Prado Hassel</h4>
                <p>N° cuenta: 316185543</p>
                <p>Correo:hasseljimenez43@aragon.unam.mx</p>
                <p>Semestre:Octavo</p>
                <p>Hobbie:Me gusta jugar videojuegos, subir vídeos, editarlos, escuchar música electrónica y ver películas en el cine</p>
                <p>Redes sociales: YT=HJPEX; FB=Hassel Jiménez Prado;  TW=hasselhjpex</p>
            </div>
            <div class="contact">
                <a href=""></a>
            </div>
        </div>
    </body>    
</html>