<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, 
        initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <title>Información del desarrollador</title>
    </head>
	<title>Información del desarrollador</title>
</head>
<body>
	<div class="contenedor" id="contenedor">
		<section class="tarjeta">
			<div class="slider_banner">
				<div class="banner" id="banner">
					
					<img class="slide" src="img/banner.png" alt="">
					
				</div>

				
			</div>

			<section class="slider_info">
				<!-- Flechas del Slider -->
				<a href="#" id="info-prev" class="flecha-info anterior" ><span class="fa fa-chevron-left"></span></a>
				<a href="#" id="info-next" class="flecha-info siguiente"><span class="fa fa-chevron-right"></span></a>

				<section class="informacion" id="informacion">
					<article id="info">
						<div class="slide active">
							<h1 class="nombre">Información del desarrollador</h1><!--TITULOOOO-->
                            <img src="img/profile.jpeg" alt="Yop" style=" width:200px; height:200px; border-radius:10px;">
                            <p class="Nombre">Nombre: Javier Alexander Cortés Reyna </p>
                            <p class="numero de cuenta">Número de Cuenta: 316006491</p>
                            <p class="correo">Correo: alexandercortes91@aragon.unam.mx</p>
                            <p class="semestre">Semestre: Octavo</p>
						</div>
					
						<div class="slide">
							<h2 class="hobby">Hobbies.</h2>

							<p class="texto">Mis hobbies son jugar videojuegos (principalmente Warzone, Halo y Fifa), jugar fútbol con mis amigos,
                                salir de fiesta, ver series y/o peliculas, juegos de mesa.
                            </p>

						</div>

					</article>
					<div class="botones" id="botones"></div>
				</section>

			</section>
			<section class="redes-sociales">
			</h3>
				<a href="https://www.facebook.com/alexcortes07/">
					<img src="img/fb_icon.png" alt="Facebook" style="width:85;height:85px;border-radius:10px;">
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="https://www.instagram.com/alex_corts07/">
					<img src="img/ins_icon.png" alt="Instagram" style="width:85px;height:85px;">
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="https://api.whatsapp.com/send/?phone=525569656950&text&app_absent=0">
					<img src="img/wa_icon.png" alt="WhatsApp" style="width:85px;height:85px;border-radius:10px;">
				</a>
			</section>
		</section>
	</div>

	<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
	<script src="javascript.js"></script>
</body>
</html>