<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contenedores Docker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="background-color: #0db7ed;">
    <div class="container-fluid bg-dark py-4">
      <div class="container text-white">
        <h1 align = "center" class="display-4"><b>Contenedores Docker</b></h1>
      </div>

    </div>

    <div class="container py-5 shadow-lg p-3 mb-5  rounded">
        <p class="lead"><b>Docker es una plataforma de software que le permite crear, probar e implementar aplicaciones rápidamente. Docker empaqueta software en unidades estandarizadas llamadas contenedores que incluyen todo lo necesario para que el software se ejecute, incluidas bibliotecas, herramientas de sistema, código y tiempo de ejecución. Con Docker, puede implementar y ajustar la escala de aplicaciones rápidamente en cualquier entorno con la certeza de saber que su código se ejecutará.</b></p>
        <p class="lead"><b>Docker le proporciona una manera estándar de ejecutar su código. Docker es un sistema operativo para contenedores. De manera similar a cómo una máquina virtual virtualiza (elimina la necesidad de administrar directamente) el hardware del servidor, los contenedores virtualizan el sistema operativo de un servidor. Docker se instala en cada servidor y proporciona comandos sencillos que puede utilizar para crear, iniciar o detener contenedores.</b></p>

            <img src='/css/{{img}}' class="img-rounded mx-auto d-block" alt="">
        <p></p>
        <p class="lead"><b>Un contenedor es un formato de empaquetado que empaqueta todo el código y las dependencias de una aplicación en un formato estándar que le permite ejecutarse de manera rápida y confiable en todos los entornos informáticos. Un contenedor Docker es un contenedor ejecutable, independiente, liviano y popular que incluye todo lo necesario para ejecutar una aplicación, incluidas bibliotecas, herramientas del sistema, código y tiempo de ejecución. Docker también es una plataforma de software que permite a los desarrolladores crear, probar e implementar aplicaciones en contenedores rápidamente.</b></p>
        <p class="lead"><b>Containers as a Service (CaaS) o los servicios de contenedores son servicios en la nube administrados que administran el ciclo de vida de los contenedores. Los servicios de contenedores ayudan a orquestar (iniciar, detener, escalar) el tiempo de ejecución de los contenedores. Con los servicios de contenedores, usted puede simplificar, automatizar y acelerar el ciclo de vida de implementación y desarrollo de su aplicación.</b></p>
        <p class="lead"><b>Los servicios de contenedores y Docker han experimentado una rápida adopción y han tenido un gran éxito en los últimos años. Partiendo de una tecnología de código abierto casi desconocida y bastante técnica en 2013, Docker evolucionó y se convirtió en un entorno de tiempo de ejecución estandarizado que ahora es oficialmente compatible con muchos productos empresariales de Oracle.</b></p>

            <img src='/css/{{img2}}' class="img-rounded mx-auto d-block" alt="">
  </div>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <a href={{regr}} >Regresar</a>
    <span class="text-muted">Conceptos Docker</span>
  </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
