<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imagenes Docker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="background-color:#0db7ed;">
    <div class="container-fluid bg-dark py-4">
      <div class="container text-white">
        <h1 align="center" class="display-4"><b>Imagenes Docker</b></h1>


      </div>

    </div>
    <div class="container py-5 shadow-lg p-3 mb-5  rounded">


        <p class="lead"><b>Son plantillas de lectura que sirven para crear un contenedor Docker. Normalmente las imágenes se crean basándose en otra agregando características propias.
          También se pueden crear imágenes publicadas en un registro de Docker.</b></p>
        <p class="lead"><b>Estas imágenes son las plantillas base desde la que partimos ya sea para crear una nueva imagen o crear nuevos contenedores para ejecutar las aplicaciones.</b></p>
        <p class="lead"><b>Las imágenes se utilizan para crear contenedores ya que éstas nunca van a cambiar, esto permite crear contenedores con diferentes capas de imágenes las cuales
          se van a superponer sobre otras.</b></p>
        <p class="lead"><b>Las imágenes las podemos encontrar en diferentes repositorios ya sea privados o públicos, el más conocido es el docker Hub, donde vamos a encontrar todas las imágenes públicas que nosotros
           podemos utilizar para nuestros proyectos, básicamente lo que se hace es descargar la imagen y empezarla a utilizar creando las diferentes capas que necesitamos para que nuestra aplicación funcione.</b></p>
        <p class="lead"><b>Una de las características más importantes de Docker, es que todo el mundo puede crear imágenes para todo tipo de propósitos. Algunas de ellas son subidas a Docker Hub, donde estarán a
          nuestra disposición y las podremos descargar. Además, en Docker Hub también encontraremos imágenes oficiales a parte de las imágenes de terceros.</b></p>
        <p class="lead"><b>Docker descargará automáticamente cualquier imagen que le pidamos. El comando docker pull permite descargar la imagen más reciente de ese repositorio. Sin embargo, se puede especificar
            que versión de la imagen queremos descargar.</b></p>


            <img src='/css/{{img}}' class="img-rounded mx-auto d-block" alt="">


  </div>


</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <a href={{regr}} >Regresar</a>
    <span class="text-muted">Conceptos Docker</span>
  </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
